.site {
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    overflow-x: hidden;
}

.widget-area .widget { margin-bottom: 5px; }
.frontp .btm-wrap { margin-bottom: 10px;}

.themonic-nav li a {
    line-height: 2.5;
}

.themonic-nav li {
    font-size: 14px;
}

.a-statement, .a-statement * {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    color: #999;
    font-style: italic;
    padding-bottom: 2px;
}

p {
    color: #555;
}

.entry-header .singleentry .entry-title {
    font-size: xx-large;
    font-weight: bolder;
    font-family:  'Roboto', sans-serif;
    padding: 20px 20px 20px 20px;
}

.entry-header .entry-title a { 
    font-weight: bolder;
    font-size: xx-large;
    font-family: 'Roboto', sans-serif;
}

.themonic-logo {
    padding: 0px;
    margin: 0px;
}

.themonic-ad3, .themonic-ad2, .themonic-ad6 {
    margin: 0 0px;
}

.socialmedia {
	padding: 15px 10px;
    z-index: 2;
}

/* Show on screen size above 768 px width and hide if max width is 480 px */
@media all and (min-device-width : 120px) and (max-device-width : 767px) {
    .themonic-ad3 { display: none; }
    .themonic-ad6 { display: block; }
    .themonic-ad2 { text-align:center; display: block; }
    .themonic-ad1 { display: none; }
    #between_article_ad { display: block; float:none; text-align: center;}
    #sidebar_ad { display: none; }
    .desktop-social { display: none; }
    .mobile-social { display: block; }
    .socialmedia {
        position: relative;
        text-align: center;
        padding: 5px 10px;
    }
}

@media all and (min-device-width : 768px) {
    .themonic-ad3 { display: block; }
    .themonic-ad6 { display: none; }
    .themonic-ad1 { display: block; }	
    .themonic-ad2 { text-align:center; display: none; }
    #between_article_ad { display: none; }
    #sidebar_ad { display: block; }
    .desktop-social { display: block; }
    .mobile-social { display: none; }
}

.mobile-social > div > a > i {
    border: 1px solid #c60;
    color: #c60
}

#between_article_ad {
    vertical-align: middle; 
	text-align: center;
    float: inherit;
}

.masthead {
    position: relative;
}

.themonic-nav ul.nav-menu, .themonic-nav div.nav-menu > ul {
    border-bottom: 2px solid #c60;
}

.themonic-ad1 > a > img {
    max-width: 100%;
    height: auto;
}
.themonic-ad2 > a > img {
    max-width: 100%;
    height: auto;
}
.themonic-ad3 > a > img {
    max-width: 100%;
    height: auto;
}

.g img {
    max-width: 100%;
}

.themonic-ad4 {
    padding-top: 10px;
}

.themonic-ad4 > a > img {
    max-width: 100%;
    height: auto;
}
.themonic-ad5 > a > img {
    max-width: 100%; 
    height: auto; 
}
.themonic-ad6 > a > img {
    max-width: 100%; 
    height: auto; 
}

.entry-content blockquote, .comment-content blockquote {	
    background: whitesmoke;
    color: black;
}

a {
    color: #c60;
}

.categories a {
    background: white;
    font-size: 8pt;
    border: 2px solid #c60;
    color: #c60;
}

.categories a:hover {
    background: #c60;
    color: white;
}

.frontp .btm-wrap {
    border-top: white;
    border-bottom: white;
}

input {
    text-transform: none;
}

.comments-area article {
    margin: 5px;
}

.comments-area article header {
    margin: 0px;
}

.entry-summary p, .comment-content p, .mu_register p {
    margin: 0 0 5px;
}

li[id^='li-comment'] {
    border: 0px solid #f2f2f2;
    border-top-width: 10px;
}

footer.entry-meta {
    padding: 0px;
}

.responsive-img-container {
    width: 100%;
    padding-bottom: 15.32%; /* 9/16 = aspect ratio of image */
    position: relative;
}
 
.responsive-img-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
